<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: '404 | Members Only' }) %>
  <body>
    <%- include('partials/nav') %>
    <main>
      <h2>404 - Page Not Found</h2>
      <p>This page does not exist.</p>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
