<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Home | Members Only' }) %>
  <body>
    <%- include('partials/nav') %>
    <main>
      <% if (locals.currentUser) { %>
      <h2>Welcome back <%= locals.currentUser.username %>!</h2>

      <p>-full content here-</p>

      <% } else { %>

      <h2>Welcome to Members Only!</h2>
      <p>To create a message, you need to <a href="/login">login</a> first.</p>

      <div>-content here-</div>

      <% } %>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
