<nav>
  <h1><a href="/">Members Only</a></h1>

  <% if (locals.currentUser) { %>
  <div>
    <a href="/">Home page</a><br>
    <a href="/messages/new">New message</a><br>
    <a href="/membership">Membership</a><br>
    <a href="/logout">Log Out</a>
  </div>
  <% } else { %>
  <div>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </div>
  <% } %>
</nav>
